.chicken {
  position: absolute;
  animation: chicken 1s infinite;
  -webkit-animation: chicken 1s infinite;
  -moz-animation: chicken 1s infinite;
  -o-animation: chicken 1s infinite;
}

@keyframes chicken {
  0%,
  50% {
    box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0),
      5px 10px 0 0 rgba(255, 255, 255, 0), 55px 10px 0 0 rgba(92, 63, 23, 1),
      60px 10px 0 0 rgba(92, 63, 23, 1), 5px 15px 0 0 rgba(255, 255, 255, 0),
      50px 15px 0 0 rgba(92, 63, 23, 1), 55px 15px 0 0 rgba(177, 5, 5, 1),
      60px 15px 0 0 rgba(196, 50, 24, 1), 65px 15px 0 0 rgba(92, 63, 23, 1),
      5px 20px 0 0 rgba(255, 255, 255, 0), 50px 20px 0 0 rgba(92, 63, 23, 1),
      55px 20px 0 0 rgba(177, 5, 5, 1), 60px 20px 0 0 rgba(196, 50, 24, 1),
      65px 20px 0 0 rgba(196, 50, 24, 1), 70px 20px 0 0 rgba(92, 63, 23, 1),
      5px 25px 0 0 rgba(255, 255, 255, 0), 55px 25px 0 0 rgba(92, 63, 23, 1),
      60px 25px 0 0 rgba(92, 63, 23, 1), 65px 25px 0 0 rgba(177, 5, 5, 1),
      70px 25px 0 0 rgba(196, 50, 24, 1), 75px 25px 0 0 rgba(92, 63, 23, 1),
      5px 30px 0 0 rgba(255, 255, 255, 0), 50px 30px 0 0 rgba(92, 63, 23, 1),
      55px 30px 0 0 rgba(216, 170, 117, 1), 60px 30px 0 0 rgba(245, 222, 194, 1),
      65px 30px 0 0 rgba(245, 222, 194, 1), 70px 30px 0 0 rgba(245, 222, 194, 1),
      75px 30px 0 0 rgba(216, 170, 117, 1), 80px 30px 0 0 rgba(92, 63, 23, 1),
      5px 35px 0 0 rgba(255, 255, 255, 0), 20px 35px 0 0 rgba(92, 63, 23, 1),
      25px 35px 0 0 rgba(92, 63, 23, 1), 50px 35px 0 0 rgba(92, 63, 23, 1),
      55px 35px 0 0 rgba(245, 222, 194, 1), 60px 35px 0 0 rgba(245, 222, 194, 1),
      65px 35px 0 0 rgba(0, 0, 0, 1), 70px 35px 0 0 rgba(245, 222, 194, 1),
      75px 35px 0 0 rgba(216, 170, 117, 1), 80px 35px 0 0 rgba(92, 63, 23, 1),
      5px 40px 0 0 rgba(255, 255, 255, 0), 15px 40px 0 0 rgba(92, 63, 23, 1),
      20px 40px 0 0 rgba(245, 222, 194, 1), 25px 40px 0 0 rgba(245, 222, 194, 1),
      30px 40px 0 0 rgba(92, 63, 23, 1), 35px 40px 0 0 rgba(92, 63, 23, 1),
      50px 40px 0 0 rgba(92, 63, 23, 1), 55px 40px 0 0 rgba(245, 222, 194, 1),
      60px 40px 0 0 rgba(245, 222, 194, 1), 65px 40px 0 0 rgba(0, 0, 0, 1),
      70px 40px 0 0 rgba(216, 170, 117, 1), 75px 40px 0 0 rgba(236, 209, 19, 1),
      80px 40px 0 0 rgba(236, 209, 19, 1), 85px 40px 0 0 rgba(92, 63, 23, 1),
      5px 45px 0 0 rgba(255, 255, 255, 0), 15px 45px 0 0 rgba(92, 63, 23, 1),
      20px 45px 0 0 rgba(245, 222, 194, 1), 25px 45px 0 0 rgba(216, 170, 117, 1),
      30px 45px 0 0 rgba(245, 222, 194, 1), 35px 45px 0 0 rgba(245, 222, 194, 1),
      40px 45px 0 0 rgba(92, 63, 23, 1), 45px 45px 0 0 rgba(92, 63, 23, 1),
      50px 45px 0 0 rgba(216, 170, 117, 1), 55px 45px 0 0 rgba(245, 222, 194, 1),
      60px 45px 0 0 rgba(245, 222, 194, 1), 65px 45px 0 0 rgba(245, 222, 194, 1),
      70px 45px 0 0 rgba(245, 222, 194, 1), 75px 45px 0 0 rgba(92, 63, 23, 1),
      80px 45px 0 0 rgba(92, 63, 23, 1), 5px 50px 0 0 rgba(255, 255, 255, 0),
      20px 50px 0 0 rgba(92, 63, 23, 1), 25px 50px 0 0 rgba(152, 98, 36, 1),
      30px 50px 0 0 rgba(216, 170, 117, 1), 35px 50px 0 0 rgba(245, 222, 194, 1),
      40px 50px 0 0 rgba(245, 222, 194, 1), 45px 50px 0 0 rgba(245, 222, 194, 1),
      50px 50px 0 0 rgba(245, 222, 194, 1), 55px 50px 0 0 rgba(245, 222, 194, 1),
      60px 50px 0 0 rgba(245, 222, 194, 1), 65px 50px 0 0 rgba(245, 222, 194, 1),
      70px 50px 0 0 rgba(245, 222, 194, 1), 75px 50px 0 0 rgba(245, 222, 194, 1),
      80px 50px 0 0 rgba(216, 170, 117, 1), 85px 50px 0 0 rgba(92, 63, 23, 1),
      5px 55px 0 0 rgba(255, 255, 255, 0), 15px 55px 0 0 rgba(92, 63, 23, 1),
      20px 55px 0 0 rgba(216, 170, 117, 1), 25px 55px 0 0 rgba(245, 222, 194, 1),
      30px 55px 0 0 rgba(92, 65, 23, 1), 35px 55px 0 0 rgba(92, 65, 23, 1),
      40px 55px 0 0 rgba(216, 170, 117, 1), 45px 55px 0 0 rgba(245, 222, 194, 1),
      50px 55px 0 0 rgba(245, 222, 194, 1), 55px 55px 0 0 rgba(216, 170, 117, 1),
      60px 55px 0 0 rgba(245, 222, 194, 1), 65px 55px 0 0 rgba(245, 222, 194, 1),
      70px 55px 0 0 rgba(245, 222, 194, 1), 75px 55px 0 0 rgba(245, 222, 194, 1),
      80px 55px 0 0 rgba(245, 222, 194, 1), 85px 55px 0 0 rgba(92, 63, 23, 1),
      5px 60px 0 0 rgba(255, 255, 255, 0), 15px 60px 0 0 rgba(92, 63, 23, 1),
      20px 60px 0 0 rgba(152, 98, 36, 1), 25px 60px 0 0 rgba(216, 170, 117, 1),
      30px 60px 0 0 rgba(92, 65, 23, 1), 35px 60px 0 0 rgba(245, 222, 194, 1),
      40px 60px 0 0 rgba(245, 222, 194, 1), 45px 60px 0 0 rgba(245, 222, 194, 1),
      50px 60px 0 0 rgba(245, 222, 194, 1), 55px 60px 0 0 rgba(92, 65, 23, 1),
      60px 60px 0 0 rgba(245, 222, 194, 1), 65px 60px 0 0 rgba(216, 170, 117, 1),
      70px 60px 0 0 rgba(245, 222, 194, 1), 75px 60px 0 0 rgba(216, 170, 117, 1),
      80px 60px 0 0 rgba(245, 222, 194, 1), 85px 60px 0 0 rgba(92, 63, 23, 1),
      5px 65px 0 0 rgba(255, 255, 255, 0), 20px 65px 0 0 rgba(92, 63, 23, 1),
      25px 65px 0 0 rgba(216, 170, 117, 1), 30px 65px 0 0 rgba(92, 65, 23, 1),
      35px 65px 0 0 rgba(92, 65, 23, 1), 40px 65px 0 0 rgba(92, 65, 23, 1),
      45px 65px 0 0 rgba(92, 65, 23, 1), 50px 65px 0 0 rgba(92, 65, 23, 1),
      55px 65px 0 0 rgba(216, 170, 117, 1), 60px 65px 0 0 rgba(216, 170, 117, 1),
      65px 65px 0 0 rgba(245, 222, 194, 1), 70px 65px 0 0 rgba(216, 170, 117, 1),
      75px 65px 0 0 rgba(245, 222, 194, 1), 80px 65px 0 0 rgba(216, 170, 117, 1),
      85px 65px 0 0 rgba(92, 63, 23, 1), 5px 70px 0 0 rgba(255, 255, 255, 0),
      25px 70px 0 0 rgba(92, 63, 23, 1), 30px 70px 0 0 rgba(152, 98, 36, 1),
      35px 70px 0 0 rgba(152, 98, 36, 1), 40px 70px 0 0 rgba(152, 98, 36, 1),
      45px 70px 0 0 rgba(216, 170, 117, 1), 50px 70px 0 0 rgba(216, 170, 117, 1),
      55px 70px 0 0 rgba(216, 170, 117, 1), 60px 70px 0 0 rgba(216, 170, 117, 1),
      65px 70px 0 0 rgba(216, 170, 117, 1), 70px 70px 0 0 rgba(216, 170, 117, 1),
      75px 70px 0 0 rgba(152, 98, 36, 1), 80px 70px 0 0 rgba(92, 63, 23, 1),
      5px 75px 0 0 rgba(255, 255, 255, 0), 30px 75px 0 0 rgba(92, 63, 23, 1),
      35px 75px 0 0 rgba(92, 63, 23, 1), 40px 75px 0 0 rgba(152, 98, 36, 1),
      45px 75px 0 0 rgba(92, 63, 23, 1), 50px 75px 0 0 rgba(216, 170, 117, 1),
      55px 75px 0 0 rgba(216, 170, 117, 1), 60px 75px 0 0 rgba(216, 170, 117, 1),
      65px 75px 0 0 rgba(152, 98, 36, 1), 70px 75px 0 0 rgba(92, 63, 23, 1),
      75px 75px 0 0 rgba(92, 63, 23, 1), 5px 80px 0 0 rgba(255, 255, 255, 0),
      40px 80px 0 0 rgba(92, 63, 23, 1), 45px 80px 0 0 rgba(152, 98, 36, 1),
      50px 80px 0 0 rgba(92, 63, 23, 1), 55px 80px 0 0 rgba(92, 63, 23, 1),
      60px 80px 0 0 rgba(92, 63, 23, 1), 65px 80px 0 0 rgba(92, 63, 23, 1),
      70px 80px 0 0 rgba(92, 63, 23, 1), 5px 85px 0 0 rgba(255, 255, 255, 0),
      40px 85px 0 0 rgba(92, 63, 23, 1), 45px 85px 0 0 rgba(152, 98, 36, 1),
      50px 85px 0 0 rgba(236, 209, 19, 1), 55px 85px 0 0 rgba(92, 63, 23, 1),
      60px 85px 0 0 rgba(92, 63, 23, 1), 65px 85px 0 0 rgba(236, 209, 19, 1),
      70px 85px 0 0 rgba(92, 63, 23, 1), 5px 90px 0 0 rgba(255, 255, 255, 0);
    height: 5px;
    width: 5px;
  }
  50.01%,
  100% {
    box-shadow: 55px 10px 0 0 rgba(92, 63, 23, 1),
      60px 10px 0 0 rgba(92, 63, 23, 1), 50px 15px 0 0 rgba(92, 63, 23, 1),
      55px 15px 0 0 rgba(196, 50, 24, 1), 60px 15px 0 0 rgba(196, 50, 24, 1),
      65px 15px 0 0 rgba(92, 63, 23, 1), 50px 20px 0 0 rgba(92, 63, 23, 1),
      55px 20px 0 0 rgba(177, 5, 5, 1), 60px 20px 0 0 rgba(196, 50, 24, 1),
      65px 20px 0 0 rgba(177, 5, 5, 1), 70px 20px 0 0 rgba(92, 63, 23, 1),
      55px 25px 0 0 rgba(92, 63, 23, 1), 60px 25px 0 0 rgba(92, 63, 23, 1),
      65px 25px 0 0 rgba(177, 5, 5, 1), 70px 25px 0 0 rgba(196, 50, 24, 1),
      75px 25px 0 0 rgba(92, 63, 23, 1), 50px 30px 0 0 rgba(92, 63, 23, 1),
      55px 30px 0 0 rgba(216, 170, 117, 1), 60px 30px 0 0 rgba(245, 222, 194, 1),
      65px 30px 0 0 rgba(245, 222, 194, 1), 70px 30px 0 0 rgba(245, 222, 194, 1),
      75px 30px 0 0 rgba(216, 170, 117, 1), 80px 30px 0 0 rgba(92, 63, 23, 1),
      20px 35px 0 0 rgba(92, 63, 23, 1), 25px 35px 0 0 rgba(92, 63, 23, 1),
      50px 35px 0 0 rgba(92, 63, 23, 1), 55px 35px 0 0 rgba(245, 222, 194, 1),
      60px 35px 0 0 rgba(245, 222, 194, 1), 65px 35px 0 0 rgba(0, 0, 0, 1),
      70px 35px 0 0 rgba(245, 222, 194, 1), 75px 35px 0 0 rgba(216, 170, 117, 1),
      80px 35px 0 0 rgba(92, 63, 23, 1), 15px 40px 0 0 rgba(92, 63, 23, 1),
      20px 40px 0 0 rgba(245, 222, 194, 1), 25px 40px 0 0 rgba(245, 222, 194, 1),
      30px 40px 0 0 rgba(92, 63, 23, 1), 35px 40px 0 0 rgba(92, 63, 23, 1),
      50px 40px 0 0 rgba(92, 63, 23, 1), 55px 40px 0 0 rgba(245, 222, 194, 1),
      60px 40px 0 0 rgba(245, 222, 194, 1), 65px 40px 0 0 rgba(0, 0, 0, 1),
      70px 40px 0 0 rgba(216, 170, 117, 1), 75px 40px 0 0 rgba(236, 209, 19, 1),
      80px 40px 0 0 rgba(236, 209, 19, 1), 85px 40px 0 0 rgba(92, 63, 23, 1),
      15px 45px 0 0 rgba(92, 63, 23, 1), 20px 45px 0 0 rgba(245, 222, 194, 1),
      25px 45px 0 0 rgba(216, 170, 117, 1), 30px 45px 0 0 rgba(92, 65, 23, 1),
      35px 45px 0 0 rgba(152, 98, 36, 1), 40px 45px 0 0 rgba(92, 65, 23, 1),
      45px 45px 0 0 rgba(92, 63, 23, 1), 50px 45px 0 0 rgba(216, 170, 117, 1),
      55px 45px 0 0 rgba(245, 222, 194, 1), 60px 45px 0 0 rgba(245, 222, 194, 1),
      65px 45px 0 0 rgba(245, 222, 194, 1), 70px 45px 0 0 rgba(245, 222, 194, 1),
      75px 45px 0 0 rgba(92, 63, 23, 1), 80px 45px 0 0 rgba(92, 63, 23, 1),
      20px 50px 0 0 rgba(92, 63, 23, 1), 25px 50px 0 0 rgba(152, 98, 36, 1),
      30px 50px 0 0 rgba(92, 65, 23, 1), 35px 50px 0 0 rgba(216, 170, 117, 1),
      40px 50px 0 0 rgba(245, 222, 194, 1), 45px 50px 0 0 rgba(152, 98, 36, 1),
      50px 50px 0 0 rgba(92, 65, 23, 1), 55px 50px 0 0 rgba(245, 222, 194, 1),
      60px 50px 0 0 rgba(245, 222, 194, 1), 65px 50px 0 0 rgba(245, 222, 194, 1),
      70px 50px 0 0 rgba(245, 222, 194, 1), 75px 50px 0 0 rgba(245, 222, 194, 1),
      80px 50px 0 0 rgba(216, 170, 117, 1), 85px 50px 0 0 rgba(92, 63, 23, 1),
      15px 55px 0 0 rgba(92, 63, 23, 1), 20px 55px 0 0 rgba(216, 170, 117, 1),
      25px 55px 0 0 rgba(245, 222, 194, 1), 30px 55px 0 0 rgba(216, 170, 117, 1),
      35px 55px 0 0 rgba(92, 65, 23, 1), 40px 55px 0 0 rgba(92, 65, 23, 1),
      45px 55px 0 0 rgba(245, 222, 194, 1), 50px 55px 0 0 rgba(92, 65, 23, 1),
      55px 55px 0 0 rgba(216, 170, 117, 1), 60px 55px 0 0 rgba(245, 222, 194, 1),
      65px 55px 0 0 rgba(245, 222, 194, 1), 70px 55px 0 0 rgba(245, 222, 194, 1),
      75px 55px 0 0 rgba(245, 222, 194, 1), 80px 55px 0 0 rgba(245, 222, 194, 1),
      85px 55px 0 0 rgba(92, 63, 23, 1), 15px 60px 0 0 rgba(92, 63, 23, 1),
      20px 60px 0 0 rgba(152, 98, 36, 1), 25px 60px 0 0 rgba(216, 170, 117, 1),
      30px 60px 0 0 rgba(216, 170, 117, 1), 35px 60px 0 0 rgba(216, 170, 117, 1),
      40px 60px 0 0 rgba(245, 222, 194, 1), 45px 60px 0 0 rgba(245, 222, 194, 1),
      50px 60px 0 0 rgba(245, 222, 194, 1), 55px 60px 0 0 rgba(92, 65, 23, 1),
      60px 60px 0 0 rgba(216, 170, 117, 1), 65px 60px 0 0 rgba(245, 222, 194, 1),
      70px 60px 0 0 rgba(216, 170, 117, 1), 75px 60px 0 0 rgba(245, 222, 194, 1),
      80px 60px 0 0 rgba(216, 170, 117, 1), 85px 60px 0 0 rgba(92, 63, 23, 1),
      20px 65px 0 0 rgba(92, 63, 23, 1), 25px 65px 0 0 rgba(216, 170, 117, 1),
      30px 65px 0 0 rgba(216, 170, 117, 1), 35px 65px 0 0 rgba(216, 170, 117, 1),
      40px 65px 0 0 rgba(216, 170, 117, 1), 45px 65px 0 0 rgba(216, 170, 117, 1),
      50px 65px 0 0 rgba(245, 222, 194, 1), 55px 65px 0 0 rgba(216, 170, 117, 1),
      60px 65px 0 0 rgba(245, 222, 194, 1), 65px 65px 0 0 rgba(216, 170, 117, 1),
      70px 65px 0 0 rgba(245, 222, 194, 1), 75px 65px 0 0 rgba(216, 170, 117, 1),
      80px 65px 0 0 rgba(245, 222, 194, 1), 85px 65px 0 0 rgba(92, 63, 23, 1),
      25px 70px 0 0 rgba(92, 63, 23, 1), 30px 70px 0 0 rgba(152, 98, 36, 1),
      35px 70px 0 0 rgba(152, 98, 36, 1), 40px 70px 0 0 rgba(152, 98, 36, 1),
      45px 70px 0 0 rgba(216, 170, 117, 1), 50px 70px 0 0 rgba(216, 170, 117, 1),
      55px 70px 0 0 rgba(216, 170, 117, 1), 60px 70px 0 0 rgba(216, 170, 117, 1),
      65px 70px 0 0 rgba(216, 170, 117, 1), 70px 70px 0 0 rgba(216, 170, 117, 1),
      75px 70px 0 0 rgba(152, 98, 36, 1), 80px 70px 0 0 rgba(92, 63, 23, 1),
      30px 75px 0 0 rgba(92, 63, 23, 1), 35px 75px 0 0 rgba(92, 63, 23, 1),
      40px 75px 0 0 rgba(152, 98, 36, 1), 45px 75px 0 0 rgba(92, 63, 23, 1),
      50px 75px 0 0 rgba(216, 170, 117, 1), 55px 75px 0 0 rgba(216, 170, 117, 1),
      60px 75px 0 0 rgba(216, 170, 117, 1), 65px 75px 0 0 rgba(152, 98, 36, 1),
      70px 75px 0 0 rgba(92, 63, 23, 1), 75px 75px 0 0 rgba(92, 63, 23, 1),
      40px 80px 0 0 rgba(92, 63, 23, 1), 45px 80px 0 0 rgba(152, 98, 36, 1),
      50px 80px 0 0 rgba(92, 63, 23, 1), 55px 80px 0 0 rgba(92, 63, 23, 1),
      60px 80px 0 0 rgba(92, 63, 23, 1), 65px 80px 0 0 rgba(92, 63, 23, 1),
      70px 80px 0 0 rgba(92, 63, 23, 1), 40px 85px 0 0 rgba(92, 63, 23, 1),
      45px 85px 0 0 rgba(152, 98, 36, 1), 50px 85px 0 0 rgba(236, 209, 19, 1),
      55px 85px 0 0 rgba(92, 63, 23, 1), 60px 85px 0 0 rgba(92, 63, 23, 1),
      65px 85px 0 0 rgba(236, 209, 19, 1), 70px 85px 0 0 rgba(92, 63, 23, 1);
    height: 5px;
    width: 5px;
  }
}
